<%- include('./partials/head.ejs') %>
<body>
    <br>
    <h1>List Game on YGDb</h1>
<%- include('./partials/navbar.ejs') %>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Genre</th>
                <th>Photo</th>
            </tr>
        </thead>
        <tbody>
            <% game.forEach(el => { %>
                <tr>
                    <td><a href="/game-profile/<%= el.name %>"><%= el.name %></a></td>
                    <td><%= el.genre %></td>
                    <td><img src="<%= el.photo_link %>" alt="<%= el.name %>" style="width:500px;"></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>