<%- include('./partials/head.ejs') %>
<body>
    <div>
        <div class="body">
            <% youtuber.forEach(el => { %>
                <div class="cards">
                    <div class="card-image">
                        <a href="/youtuber-profile/<%= el.name %>"><img src="<%= el.photo_link %>" width="280px" height="400px"></a>
                    </div>
                    <div class="item-name">
                        <h4><a href="/youtuber-profile/<%= el.name %>"><%= el.name %></a></h4>
                        <h5><%= el.customTotalSubs() %> subs</h5>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</body>